.dataMap:hover {
    background-color: #C305FF;
    transition: all 0.5s ease-in-out;
    -webkit-box-shadow: 0px 0px 31px 11px rgba(255,0,255,0.42);
    -moz-box-shadow: 0px 0px 16px 11px rgba(255,0,255,0.42);
    box-shadow: 0px 0px 31px 5px rgba(255,0,255,0.25);
    transform: translateY(-8%);
}

.dataMap:hover img {
    background-color: white;
    border: 5px solid #C305FF;
    outline: none;
    transition: all 0.3s ease-in-out;
    border-radius: 25px;
    padding: 5px;
    margin-top: -60px;
}

.dataMap:hover h1,
.dataMap:hover p {
    color: white;
}