.image {
    display: block;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.animate-fade-in {
    animation: fadeIn 0.5s ease-in-out forwards;
}

.overflow-y-auto::-webkit-scrollbar {
    display: none;
}

.overflow-y-auto {
    -ms-overflow-style: none; 
    scrollbar-width: none;
}

@media (min-width: 320px) and (max-width: 767px) {
    .image {
        display: none;
    }
}